---
BasedOnStyle: Google
IndentWidth: 5
---
Language: JavaScript
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false